/* page background */
body {
    background-color: black;
}

/* game board */
div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("../images/board.jpg") no-repeat;
}

/* message notification to the user */
div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 172, 19);
    font-family: "OCR A Extended";
    font-size: xx-large;
}

/*Table positioning in the game board and screen*/
table {
    position: absolute;
    left: 166px;
    top: 98px;
}
td {
    width: 94px;
    height: 94px;
}

/* Form positioning and styling */
form {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}
form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

/* Placing the ship and miss images on the board */
.hit {
    background: url("../images/ship.png") no-repeat center center;
}
.miss {
    background: url("../images/miss.png") no-repeat center center;
}








